<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}API French city services{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header>
            <ul>
                <li>
                    <a href="/etab">Etablissment publique</a>
                    <a href="/geo">Geolocalisation</a>
                </li>
            </ul>
        </header>
        {% block body %}
            {{ form_start(form) }}
            <button type="submit">Rechercher</button>
            {{ form_end(form) }}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
